@import './_variables.scss';

nav {
    background: $primary-color ; 
    color: white;
    padding: 1rem;
    display: grid;
    grid-gap: 10px;        
    }
h1 {
    grid-area: title;
    }
ul {
    grid-area: links;
    list-style: none;    
    display: flex;
    align-self: center;    
    }

@media only screen and (min-width: 500px) {
    nav {    
        grid-template-columns: 1fr 2fr;        
        grid-template-areas: 
        "title links"
        }
    h1 {
        font-size: 2rem;
        }
    ul {
        justify-self: end;
        }
    }
// brand
@media only screen and (max-width: 500px){
    nav {    
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "links"
        }    
    h1 {
        align-self: center;
        justify-self: center;
        }
    // nav links
    ul {
        justify-items: center;
        }    
    }
// common selectors
li {
    text-decoration: none;
    margin-right: 30px;
    }
a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;   
    }
a:hover {
    border-bottom: 8px solid white;
    }